<section id="profile">
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="back-button" aria-label="Go Back" ui-sref="home">
      <md-icon md-svg-icon="back"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<h2 id="title">
  <div>{{ studentData.first }} {{ studentData.last }}</div>
</h2>

<section id="classes" layout="column" md-colors="{background: 'blue'}">
  <div layout-gt-xs="row" layout-align="center center">
    <div id="remaining">
      <h2>{{ studentData.classes.remaining }}</h2>passes remaining
    </div>
    <md-button class="md-primary" md-colors="{background: 'yellow'}" ng-click="checkIn($event)">Check In</md-button>
    <md-button class="md-primary" md-colors="{background: 'amber'}" ng-click="addPasses($event)">Add Passes</md-button>
  </div>

  <h2>Recent classes</h2>

  <div ng-repeat="checkin in checkinsData" layout="row" layout-align="center">
    {{ checkin.date | date:'EEE, MMM d, yyyy'}} by {{ checkin.teacher }}
  </div>

  <h2>Class Passes Added</h2>

  <div ng-repeat="pass in passData" layout="row" layout-align="center">
    {{ pass.quantity }} passes added on {{ pass.date | date:'EEE, MMM d, yyyy'}} by {{ pass.teacher }}
  </div>
</section>

<div layout="row" flex>
  <div layout="column" ng-cloak class="md-inline-form profile-container">
    <md-content layout-padding>
      <div>
        <form name="userForm" ng-class="{editable: editable}">
          <div ng-include="'app/src/profile/contact.template.html'"></div>
          <div ng-include="'app/src/profile/edit.buttons.template.html'"></div>

          <div ng-include="'app/src/profile/personal.template.html'"></div>
          <div ng-include="'app/src/profile/edit.buttons.template.html'"></div>

          <div ng-include="'app/src/profile/community.template.html'"></div>
          <div ng-include="'app/src/profile/edit.buttons.template.html'"></div>
        </form>
      </div>
    </md-content>
  </div>
</div>
</section>
