#toolbar
    height 48px

#toolbar h3
    text-align center
    line-height 48px
    margin 0

#toolbar div:first-child, #toolbar div:last-child
    text-align left
    width 104px

.profile-container
    max-width 800px
    margin 0 auto
    text-align left

.heading-container
    text-align center
    margin-bottom 20px

input, md-select span
    color black !important

.editable input, .editable md-select span
    color blue !important

md-input-container
    margin 0

fieldset
    margin 0
    padding 0

#profile .edit-buttons
    margin-bottom 30px
    text-align right

#confidentiality
    position relative
    top -15px

.mailing-description
    color rgba(0,0,0,0.38)
