@import './_vars'

body
    height 100%
    margin 0

fieldset
    border none

#container
    text-align center

#progress
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index 100
    background-color rgba(0,0,0,0.3)
    text-align center
    padding-top 25%

md-progress-circular
    margin 0 auto

        
