@import './_vars'

body
    height 100%
    margin 0

fieldset
    border none

#progress
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index 100
    background-color rgba(0,0,0,0.3)
    text-align center
    padding-top 25%

md-progress-circular
    margin 0 auto

.back-button
    min-width 0
    width 36px !important
    height 36px !important
    border-radius 18px !important

        
