body, #container
    position absolute
    top 0
    bottom 0
    left 0
    right 0

#menu-toggle
    margin 8px 0

#students-list md-list
    padding 70px 0 10px
    max-width 600px
    margin 0 auto
    background-color rgb(250,250,250)
    color rgba(0,0,0,0.87)

#search div.md-errors-spacer
    display none

section#home, md-content#students-list
    height 100%
