<md-toolbar class="md-theme-indigo">
  <div layout="row">
    <h1 class="md-toolbar-tools">Students</h1>
    <ng-include src="'app/src/home/menu.template.html'"></ng-include>
  </div>
</md-toolbar>
<md-content id="students-list" layout-padding>
  <md-list>
    <md-list-item ng-repeat="(key, student) in students" ng-click="viewProfile(key, student, $event)" class="noright">
      <!-- <pre>{{key}} {{ student }}</pre> -->
      <p>{{ student.first }} {{ student.last }}</p>
    </md-list-item>
  </md-list>
</div>

</md-content>
